.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.white-box {
    padding: 35px;
    background-color: #FFFFFF;
    border-radius: 5px;
    width: 350px;
    height: 280px;
    max-width: 350px;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}




  
  