
  <nav>
    <ul>
      <!-- <li><a routerLink = "/home" [queryParams]="{query: 'Hello World'}">Home</a></li> -->
      <li><a routerLink = "/home">Home</a></li>
      <li><a routerLink = "/dashboard">DashBoard</a></li>
      <li><a routerLink = "/restaurants">Restaurants</a></li>
      <li><a>Dishes</a></li>
      <li><a routerLink = "/profile">Profile</a></li>
       <span class = " nav justify-content-end">
        <li><a routerLink = "/auth">Register</a></li>
        <li><a routerLink = "/login">Login</a></li>
      </span>
     </ul>
  </nav> 

<router-outlet></router-outlet>

<!-- <p class="content">Footer Can Go Below</p> -->

<div class="footer">
  <p>Footer Can Go Below</p>
</div>